.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    margin: 2rem;
}

.card{
    border: solid 1px;
    width: 300px;
    padding: 2rem;
    display: flex;
}

.card .card-cuerpo{
    text-decoration: none;
    list-style: none;
}

