.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.row{
    margin: 2rem;
}

.card{
    border: solid 1px;
    width: 300px;
    padding: 3rem;
    display: flex;
}
.card:hover{
    transform: translateY(-3%);
}

.card .card-cuerpo{
    
}

