*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header {
    margin: 0;
    padding: 0;
    background-image: url(../../assets/hero_section.jpg);
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.Header h1 {
    color: white;
    align-items: center;
    margin: 5rem;
}