*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header {
    margin: 0;
    padding: 0;
    background-image: url(../img/hero_section.jpg);
    background-size: cover;
    height: 80vh;
    width: 100%;
}